/* ============== COMMON STYLES ============== */
.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button { 
    cursor: pointer;
    background: #4D5AE5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
    
.button:hover,
.button:focus {
    background: #404BBF;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

/* ============== /COMMON STYLES ============== */

/* ============== HEADER STYLES ============== */

.logotype {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS, #4D5AE5);      
}

.logotype-span {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--NAVY-BLUE, #2E2F42);
} 

.page-contacts {
    font-style: normal;
}

.menu-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.menu-contacts-link {
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

.menu-contacts-link:hover,
.menu-contacts-link:focus {
    color: #404BBF;
}

/* ============== /HEADER STYLES ============== */

/* ============== HERO STYLES ============== */
.page-hero {
    background: var(--NAVY-BLUE, #2E2F42);
}

.name-hero-section {
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--WHITE, #FFF);
}

/* ============== /HERO STYLES ============== */

/* ============== FEATURE SECTION ============== */
.name-feature {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.description-feature {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

/* ============== /FEATURE SECTION ============== */

/* ============== OUR TEAM SECTION ============== */
.page-our-team {
    background: var(--CLOUD, #F4F4FD);
}

.name-our-team-section {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--NAVY-BLUE, #2E2F42);
}

.menu-our-team-item {
    background-color: #FFFFFF;
}

.name-our-team {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
    background-color: #FFFFFF;
}

.name-position {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
    background-color: #FFFFFF;
}

/* ============== /OUR TEAM SECTION ============== */

/* ============== OUR PORTFOLIO ============== */
.name-our-portfolio {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--NAVY-BLUE, #2E2F42);
}
 
.title-foto {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.title-department {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

/* ============== /OUR PORTFOLIO ============== */

/* ============== FOOTER STYLES ============== */
.page-footer {
    background: var(--NAVY-BLUE, #2E2F42);
}
.logotype-footer {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS, #4D5AE5);
}
.logotype-span-footer {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--CLOUD, #F4F4FD);
}

.descrption-footer {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--CLOUD, #F4F4FD);
}


/* ============== /FOOTER STYLES ============== */